#add-money-parent{
    display: none;
}
#cash-out-parent{
    display: none;
}
#transfer-container{
    display: none;
}
#bonus-container{
    display: none;
}
#pay-bill-container{
    display: none;
}
#pay-bill-container{
    display: none;
}
#transaction-container{
    display: none;
}